.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.box {
  border: thin solid black;
  /* opacity: 0.3; */
}

.u-padding { padding: 80px; }
.u-fill { width: 100%; height: 100%; }

.blue { background-color: #D6DAFE; }
.red { background-color: #FED6D6; }
.green { background-color: #D6FED7; }
.yellow { background-color: #FEFAD6; }

.layout-wrapper {
  display: flex;
  flex-flow: row;
  margin-bottom: 20px;
}

.transition { transition: flex-grow 0.3s ease-in-out; }
.animation {
  animation-name: expander;
  animation-duration: 2s;
  /* animation-iteration-count: infinite; */
}

@keyframes expander {
  0% {flex-grow: 1;}
  50% {flex-grow: 2;}
  100% {flex-grow: 1;}
}

.expand--large { flex-grow: 2; }
.expand--small { flex-grow: 1; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
